.wrapper-modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    padding: 3vw;

    background-color: #E0DFE1;
    border: 2px solid #63536C;

    translate: -50% -50%;
}

.wrapper-modal_active {
    display: block;
}

.add-film-sess__form {
    display: flex;
    gap: 1vw;

    flex-direction: column;
}

.add-film-sess__label {
    display: flex;
    gap: 0.15vw;

    font-size: 1.2rem;
    
    color: #848484;
 
    flex-direction: column;
}

.add-sess__start-film p {
    margin-bottom: 0.15vw;

    font-size: 1.2rem;
    
    color: #848484;
}

.add-sess__label section {
    width: 10%;
}

.add-sess__wr-inputs {
    display: flex;
}

.add-sess__label {
    width: 25%;

    font-size: 1.2rem;
    
    color: #848484;
}

.add-film-sess__input {
    height: 30px;
    padding-left: 7px;
}

.add-sess__input {
    width: 40%;
}

.add-film-sess__textarea {
    max-height: 82px;
    min-height: 82px;
    max-width: 287px;
    min-width: 287px;
    padding: 7px;

    resize: none;
}

.add-film-sess__reset {
    cursor: pointer;
}