.wrapper-modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    padding: 3vw;

    background-color: #E0DFE1;
    border: 2px solid #63536C;

    translate: -50% -50%;
}

.wrapper-modal_active {
    display: block;
}

.film-session__form {
    display: flex;
    gap: 1vw;

    flex-direction: column;
}

.film-session__label {
    display: flex;
    gap: 0.15vw;

    font-size: 1.2rem;
    
    color: #848484;
 
    flex-direction: column;
}

.film-session__input {
    height: 30px;
    padding-left: 7px;
}

.film-session__reset {
    cursor: pointer;
}


/* --------- Фильмы ----------- */
.film__textarea {
    max-height: 82px;
    min-height: 82px;
    max-width: 287px;
    min-width: 287px;
    padding: 7px;

    resize: none;
}


/* ----------- Сессии --------------- */
.session__start-film {
    margin-top: 10px;
}

.session__start-film p {
    margin-bottom: 0.15vw;

    font-size: 1.2rem;
    
    color: #848484;
}

.session__label section {
    width: 10%;
}

.session__wr-inputs {
    display: flex;
}

.session__label {
    width: 25%;

    flex-direction: row;
    align-items: center;
}

.session__input {
    width: 40%;
}


/* ----------- Сессии - обновление --------------- */

.session-edit__film-name {
    font-size: 1.5rem;
    
    color: #242323;
}
